* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #ee4d2d;
    color: #fff;
    padding: 0 13rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    
}

.nav li {
    list-style: none;
    margin: 0;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    letter-spacing: 10px;
}

.burger {
    font-size: 1.2rem;
    display: none;
}



@media screen and (max-width: 678px) {
    /* Styles go here */
    .burger {
        display: block;
    }

    .nav {
        position: absolute;
        background: #343434;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 50%;
        right: -100%;
        top: 100px;
        height: calc(100% - 100px);
        justify-content: space-around;
        transition: all 400ms;
    }

    .nav li {
        text-align: center;
    }

    .nav-active {
        right: 0;
    }
    
}

main {
    height: calc(100% - 100px);
    padding: 0rem 2rem;
}

.headline {
    margin-top: 15px;
    font-size: 3rem;
    color: #232323;
    font-weight: bold;
}

.btn {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.btn-active {
    background: #232323;
    color: #ccc;
    border: none;
}


.img {
    height: 87px;
    width: 87px;
    object-fit: cover;
}

.img:hover {
    border: 2px solid orangered;
}

.output {
    height: 450px;
    width: 450px;
    
}

.container {
    padding: 0 13rem;
}

main {
    margin-top: 2rem;
    display: flex;

}

.color , .capacity, .quantityD {
    display: flex;
    gap: 4rem;
    margin-bottom: 5rem;
    align-items: center;
}

.colortext, .capacitytext, .quantitytext {
    font-size: 1rem;
    color: rgb(121, 121, 121);
}

button {
    padding: .2rem .7rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
}

button:hover {
    background: #fff;
    border: 1px solid orangered;
    color: orangered;
}

.btn-active {
    background: #fff;
    border: 1px solid orangered;
    color: orangered;
}

.btn-active-1 {
    background: #fff;
    border: 1px solid orangered;
    color: orangered;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: orangered;
}

.priceoff {
    text-decoration: line-through;
    color: gray;
}

.price-div {
    align-items: center;
    gap: 1rem;
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.price-tag-off {
    background: #ee4d2d;
    color: white;
    font-weight: bold;
    font-size: .6rem;
    padding: .1rem .3rem;
}

.cart {
    cursor: pointer;
    font-size: 1.3rem;
}

.quantityDiv {
    display: flex;
    color: gray;
}

.quantityDiv button {
    font-size: 1.2rem;
    padding: .2rem 1rem;
}

.quantityOutput {
    padding: .2rem 1rem;
}

.cta-btn {
    display: flex;
    gap: 1rem;
}

.buyNow {
    background: orangered;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1rem;
}

.addCart {
    padding: 1rem 1.5rem;
    color: orangered;
    background: #fff;
    border: 1px solid orangered;
}

.productEl {
    position: absolute;
    top: 65px;
    right: 13%;
    padding: .2rem .7rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: orangered;
    background: #fff;
    font-size: 1rem;
}

footer {
    padding: .5rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    background: orangered;
}